body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  margin: 0 auto;
  max-width: 50rem;
  line-height: 1.5em;
  padding: 0 1rem 1rem 1rem;
}

body > header {
  width: 100%;
}

body > header,
body > header:first-child > div,
body > header:nth-child(2) > div:first-child,
ul > li > div:first-child,
body > footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

ul > li > div:last-child {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

body > header:first-child > div > h1,
body > header:nth-child(2) > h2,
body > header:nth-child(2) > div > h2,
body > footer > a:first-child,
ul > li > div:first-child > h3 {
  margin-right: 1rem;
}

ul > li > div:first-child > h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul > li:not(:last-child) {
  margin-bottom: 1.5rem;
}

body > header:nth-child(2) > div > h2 {
  margin-left: 0.5rem;
}

body > ul {
  list-style-type: none;
  padding: 0;
}

body > footer {
  margin-top: 1rem;
}

main input[type="text"],
main textarea {
  box-sizing: border-box;
  width: 100%;
}

a:not(:hover) {
  text-decoration: none;
}

nav > a {
  padding-left: 0.1rem;
}

nav > a:not(:last-child) {
  padding-right: 0.1rem;
}

nav {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input[type="submit"] {
  margin-right: 0.5rem;
}

main form > *:not(label):not(:last-child) {
  margin-bottom: 1rem;
}
