body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  margin: 0 auto;
  max-width: 50rem;
  line-height: 1.5em;
  padding: 0 1rem 1rem 1rem;
}

body > header {
  width: 100%;
}

body > header,
body > header:first-child > div,
body > footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

main > ul > li > div:last-child {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

body > header:first-child > div > h1,
input[type="submit"] {
  margin-right: 1rem;
}

main > ul {
  list-style-type: none;
  padding: 0;
}

body > footer {
  margin-top: 1rem;
}

main input[type="text"],
main textarea {
  width: 100%;
}

a:not(:hover) {
  text-decoration: none;
}
