<!DOCTYPE html>
<html lang="en">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <h2>🤝 Add a Contact</h2>
    </header>

    <main>
      <form action="/contacts/create">
        <label for="first_name">🧑 First Name</label>
        <br />
        <input
          type="text"
          name="first_name"
          id="first_name"
          placeholder="Jean"
          required
          autofocus
        />
        <br />

        <label for="last_name">👪 Last Name</label>
        <br />
        <input
          type="text"
          name="last_name"
          id="last_name"
          placeholder="Doe"
          required
        />
        <br />

        <label for="nickname">📟 Nickname (optional)</label>
        <br />
        <input type="text" name="nickname" id="nickname" placeholder="jdoe" />
        <br />

        <label for="email">📧 Email</label>
        <br />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="jean@doe.com"
        />
        <br />

        <label for="pronouns">⚧️ Pronouns</label>
        <br />
        <input
          type="text"
          name="pronouns"
          id="pronouns"
          placeholder="she/her"
          required
        />
        <br />

        <input type="submit" value="➕ Add contact" />
      </form>
    </main>

    {{ template "footer.html" . }}
  </body>
</html>
