<!DOCTYPE html>
<html lang="en">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <h2>✏️ Edit Debt for {{ .Entry.FirstName }} {{ .Entry.LastName }}</h2>
    </header>

    <main>
      <form id="update" action="/debts/update">
        <input type="hidden" name="id" id="id" value="{{ .Entry.DebtID }}" />

        <input
          type="hidden"
          name="contact_id"
          id="contact-id"
          value="{{ .Entry.ContactID }}"
        />

        <fieldset>
          <input
            type="radio"
            .
            id="you-owe"
            name="you_owe"
            value="1"
            {{-
            if
            le
            .Entry.Amount
            0.0
            -}}checked{{-
            end
            -}}
          />
          <label for="you-owe">You owe {{ .Entry.FirstName }}</label>

          <input
            type="radio"
            id="owed-to-you"
            name="you_owe"
            value="0"
            {{-
            if
            ge
            .Entry.Amount
            0.0
            -}}checked{{-
            end
            -}}
          />
          <label for="owed-to-you">{{ .Entry.FirstName }} owes you</label>
        </fieldset>

        <label for="amount">💲 Amount</label>
        <br />
        <input
          type="number"
          name="amount"
          id="amount"
          placeholder="50"
          required
          autofocus
          value="{{ Abs .Entry.Amount }}"
        />
        <br />

        <label for="currency">💱 Currency</label>
        <br />
        <input
          type="text"
          name="currency"
          id="currency"
          placeholder="Dollar"
          required
          value="{{ .Entry.Currency }}"
        />
        <br />
      </form>

      <div>
        <input type="submit" value="💾 Save changes" form="update" />

        <a href="/contacts/view?id={{ .Entry.ContactID }}">🔙 Cancel</a>
      </div>
    </main>

    {{ template "footer.html" . }}
  </body>
</html>
