<!DOCTYPE html>
<html lang="en">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <h2>Imprint</h2>
    </header>

    <main>
      <h3>English</h3>

      <h4>Information According to § 5 TMG</h4>

      <p>
        Felicitas Pojtinger<br />
        Hirschkopfweg 8<br />
        72270 Baiersbronn
      </p>

      <h4>Contact</h4>

      <p>
        Phone: <a href="tel:+49 152 33842326">+49 152 33842326</a><br />
        Email:
        <a href="mailto:felicitas@pojtinger.com"
          ><a href="mailto:felicitas@pojtinger.com"
            >felicitas@pojtinger.com</a
          ></a
        >
      </p>

      <h3>Deutsch</h3>

      <h4>Angaben gemäß § 5 TMG</h4>
      <p>
        Felicitas Pojtinger<br />
        Hirschkopfweg 8<br />
        72270 Baiersbronn
      </p>

      <h4>Kontakt</h4>
      <p>
        Telefon: <a href="tel:+49 152 33842326">+49 152 33842326</a><br />
        E-Mail:
        <a href="mailto:felicitas@pojtinger.com"
          ><a href="mailto:felicitas@pojtinger.com"
            >felicitas@pojtinger.com</a
          ></a
        >
      </p>
    </main>

    {{ template "footer.html" . }}
  </body>
</html>
