<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "header.html" . }}
        <style>
            .radio-inline {
                display: inline-block;
                margin-right: 10px;
            }
        </style>
    </head>
    <body>
        {{ template "nav.html" . }}

        <header>
            <h2>✍️ Add Todo</h2>
        </header>

        <main>
            <form method="POST" action="/todo/create">
                <fieldset>
                    <legend>⭐ Importance:</legend>
                    <span class="radio-inline"><input type="radio" id="importance1" name="importance" value="1" required>
                    <label for="importance1">1 😊</label></span>

                    <span class="radio-inline"><input type="radio" id="importance2" name="importance" value="2">
                    <label for="importance2">2 😅</label></span>

                    <span class="radio-inline"><input type="radio" id="importance3" name="importance" value="3">
                    <label for="importance3">3 😱</label></span>
                </fieldset>

                <br><br>

                <label for="name">📝 Todo Name:</label><br>
                <input type="text" id="name" name="name" required autofocus><br>

                <label for="deadline">📅 Deadline:</label><br>
                <input type="date" id="deadline" name="deadline" required><br>

                <input type="submit" value="➕ Add Todo" /><br>
            </form>
        </main>

        {{ template "footer.html" . }}
    </body>
</html>
