<!DOCTYPE html>
<html lang="en">
{{ template "header.html" . }}

<body>
   {{ template "nav.html" . }}

   <header>
      <h2>
         ☕ Add a New Activity For {{ .Entry.FirstName }} {{ .Entry.LastName }}
      </h2>
   </header>

   <main>
      <form action="/activities/create">
         <input type="hidden" name="contact_id" id="contact-id" value="{{ .Entry.ID }}" />

         <label for="name">🔖 Name</label>
         <br />
         <input type="text" name="name" id="name" required autofocus />
         <br />

         <label for="date">📅 Date</label>
         <br />
         <input type="date" name="date" id="date" required />
         <br />

         <label for="description">📜 Description</label>
         <br />
         <textarea name="description" id="description" rows="10"></textarea>
         <br />

         <input type="submit" value="➕ Add Activity" />
      </form>
   </main>

   {{ template "footer.html" . }}
</body>

</html>