<!DOCTYPE html>
<html lang="{{ .Locale.GetLanguage }}">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <h2>
        {{ .Locale.Get "Add a New Activity For %s %s" .Entry.FirstName
        .Entry.LastName }}
      </h2>
    </header>

    <main>
      <form action="/activities" method="post">
        <input
          type="hidden"
          name="contact_id"
          id="contact-id"
          value="{{ .Entry.ID }}"
        />

        <label for="name">{{ .Locale.Get "Name" }}</label>
        <input type="text" name="name" id="name" required autofocus />
        <br />

        <label for="date">{{ .Locale.Get "Date" }}</label>
        <input type="date" name="date" id="date" required />
        <br />

        <label for="description"
          >{{ .Locale.Get "Description" }} (you can use
          <a href="https://en.wikipedia.org/wiki/Markdown" target="_blank"
            >Markdown</a
          >)</label
        >
        <textarea name="description" id="description" rows="10"></textarea>
        <br />

        <input type="submit" value='{{ .Locale.Get "Add Activity" }}' />
      </form>
    </main>

    {{ template "footer.html" . }}
  </body>
</html>
