<!DOCTYPE html>
<html lang="{{ .Locale.GetLanguage }}">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <div>
        <h2>
          Activity {{ .Entry.Name }} for {{ .Entry.FirstName }} {{
          .Entry.LastName }}
        </h2>
      </div>

      <div>
        <div>Date: {{ .Entry.Date.Format "2006-01-02" }}</div>
      </div>
    </header>

    <main>
      {{ RenderMarkdown .Entry.Description }}

      <form
        id="delete"
        action="/activities/delete?id={{ .Entry.ActivityID }}"
        method="post"
        onsubmit="return confirm('Are you sure you want to delete this activity?')"
      ></form>

      <div>
        <input type="submit" value="Delete" form="delete" />

        <a
          href="/activities/edit?id={{ .Entry.ActivityID }}&contact_id={{ .Entry.ContactID }}"
          >Edit</a
        >
      </div>
    </main>

    {{ template "footer.html" . }}
  </body>
</html>
