<!DOCTYPE html>
<html lang="{{ .Locale.GetLanguage }}">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <div>
        <h2>
          {{ .Entry.FirstName }} {{ .Entry.LastName }} {{ if ne .Entry.Nickname
          ""}} ({{ .Entry.Nickname }}) {{ end }}
        </h2>
      </div>

      <div>
        {{ .Entry.Email }} {{if and (ne .Entry.Email "") (ne .Entry.Pronouns
        "")}}|{{end}} {{ .Entry.Pronouns}}
      </div>
    </header>

    <main>
      <section>
        <dl>
          {{ if .Entry.Birthday.Valid }}
          <dt>{{ .Locale.Get "Birthday" }}</dt>
          <dd>{{ .Entry.Birthday.Value.Format "2006-01-02" }}</dd>
          {{ end }} {{ if .Entry.Address }}
          <dt>Address</dt>
          <dd>{{ .Entry.Address }}</dd>
          {{ end }} {{ if .Entry.Notes }}
          <dt>Notes</dt>
          <dd>{{ .Entry.Notes }}</dd>
          {{ end }}
        </dl>
      </section>

      <section>
        <header>
          <div>
            <h3>Debts</h3>
          </div>

          <div>
            <a href="/debts/add?id={{ .Entry.ID }}">Add debt</a>
          </div>
        </header>

        <main>
          {{ if eq (len .Debts) 0 }}
          <div>
            Manage debts you owe to {{ .Entry.FirstName }} or {{
            .Entry.FirstName }} owes you
          </div>
          {{ else }}
          <ul>
            {{ range .Debts }}
            <li>
              {{ if le .Amount 0.0 }}You owe {{ $.Entry.FirstName }} {{ Abs
              .Amount }} {{ .Currency }}{{ else }}{{ $.Entry.FirstName }} owes
              you {{ Abs .Amount }} {{ .Currency }}{{ end }}{{ if .Description
              }}: {{ .Description }}{{ else }}.{{ end }}

              <div>
                <form
                  action="/debts/settle"
                  method="post"
                  onsubmit="return confirm('Are you sure you want to settle this debt?')"
                >
                  <input
                    type="hidden"
                    name="contact_id"
                    value="{{ $.Entry.ID }}"
                  />
                  <input type="hidden" name="id" value="{{ .ID }}" />

                  <input type="submit" value="Settle debt" />
                </form>

                <a href="/debts/edit?id={{ .ID }}&contact_id={{ $.Entry.ID }}"
                  >Edit debt</a
                >
              </div>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </main>
      </section>

      <section>
        <header>
          <div>
            <h3>Activities</h3>
          </div>

          <div>
            <a href="/activities/add?id={{ .Entry.ID }}">Add activity</a>
          </div>
        </header>

        <main>
          {{ if eq (len .Activities) 0 }}
          <div>No activities with {{ .Entry.FirstName }} yet.</div>
          {{ else }}
          <ul>
            {{ range .Activities }}
            <li>
              <div>
                <h3>
                  <a
                    href="/activities/view?id={{ .ID }}&contact_id={{ $.Entry.ID }}"
                    >{{ .Name }}</a
                  >
                </h3>

                <div>{{ .Date.Format "2006-01-02" }}</div>
              </div>

              <div>
                <form
                  action="/activities/delete"
                  method="post"
                  onsubmit="return confirm('Are you sure you want to delete this activity?')"
                >
                  <input
                    type="hidden"
                    name="contact_id"
                    value="{{ $.Entry.ID }}"
                  />
                  <input type="hidden" name="id" value="{{ .ID }}" />

                  <input type="submit" value="Delete activity" />
                </form>

                <a
                  href="/activities/edit?id={{ .ID }}&contact_id={{ $.Entry.ID }}"
                  >Edit activity</a
                >
              </div>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </main>
      </section>

      <form
        id="delete"
        action="/contacts/delete?id={{ .Entry.ID }}"
        method="post"
        onsubmit="return confirm('Are you sure you want to delete this contact?')"
      ></form>

      <div>
        <input type="submit" value="Delete" form="delete" />

        <a href="/contacts/edit?id={{ .Entry.ID }}">Edit</a>
      </div>
    </main>

    {{ template "footer.html" . }}
  </body>
</html>
