<!DOCTYPE html>
<html lang="en">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <h2>
        <span aria-hidden="true">✏️</span> Edit {{ .Entry.FirstName }} {{
        .Entry.LastName }}
      </h2>
    </header>

    <main>
      <form id="update" action="/contacts/update">
        <input type="hidden" name="id" id="id" value="{{ .Entry.ID }}" />

        <label for="first_name">
          <span aria-hidden="true">🧑</span> First Name
        </label>
        <br />
        <input
          type="text"
          name="first_name"
          id="first_name"
          placeholder="Jean"
          required
          autofocus
          value="{{ .Entry.FirstName }}"
        />
        <br />

        <label for="last_name">
          <span aria-hidden="true">👪</span> Last Name
        </label>
        <br />
        <input
          type="text"
          name="last_name"
          id="last_name"
          placeholder="Doe"
          required
          value="{{ .Entry.LastName }}"
        />
        <br />

        <label for="nickname">
          <span aria-hidden="true">📟</span> Nickname (optional)
        </label>
        <br />
        <input
          type="text"
          name="nickname"
          id="nickname"
          placeholder="jdoe"
          value="{{ .Entry.Nickname }}"
        />
        <br />

        <label for="email"> <span aria-hidden="true">📧</span> Email </label>
        <br />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="jean@doe.com"
          value="{{ .Entry.Email }}"
        />
        <br />

        <label for="pronouns">
          <span aria-hidden="true">⚧️</span> Pronouns
        </label>
        <br />
        <input
          type="text"
          name="pronouns"
          id="pronouns"
          placeholder="they/them"
          required
          value="{{ .Entry.Pronouns }}"
        />
        <br />

        <label for="birthday">
          <span aria-hidden="true">✨</span> Birthday (optional)
        </label>
        <br />
        <input type="date" name="birthday" id="birthday" {{ if
        .Entry.Birthday.Valid }}value="{{ .Entry.Birthday.Value.Format
        "2006-01-02" }}"{{ end }} />
        <br />

        <label for="address">
          <span aria-hidden="true">📍</span> Address (optional)
        </label>
        <br />
        <textarea name="address" id="address" rows="3">
{{ .Entry.Address }}</textarea
        >
        <br />

        <label for="notes">
          <span aria-hidden="true">📜</span> Notes (optional)
        </label>
        <br />
        <textarea name="notes" id="notes" rows="10">
{{ .Entry.Notes }}</textarea
        >
        <br />
      </form>

      <div>
        <button type="submit" form="update">
          <span aria-hidden="true">💾</span> Save changes
        </button>

        <a href="/contacts/view?id={{ .Entry.ID }}">
          <span aria-hidden="true">🔙</span> Cancel
        </a>
      </div>
    </main>

    {{ template "footer.html" . }}
  </body>
</html>
