<!DOCTYPE html>
<html lang="en">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <h2>✏️ Edit {{ .Entry.FirstName }} {{ .Entry.LastName }}</h2>
    </header>

    <main>
      <form id="update" action="/contacts/update">
        <input type="hidden" name="id" id="id" value="{{ .Entry.ID }}" />

        <label for="first_name">🧑 First Name</label>
        <br />
        <input
          type="text"
          name="first_name"
          id="first_name"
          placeholder="Jean"
          required
          autofocus
          value="{{ .Entry.FirstName }}"
        />
        <br />

        <label for="last_name">👪 Last Name</label>
        <br />
        <input
          type="text"
          name="last_name"
          id="last_name"
          placeholder="Doe"
          required
          value="{{ .Entry.LastName }}"
        />
        <br />

        <label for="nickname">📟 Nickname (optional)</label>
        <br />
        <input
          type="text"
          name="nickname"
          id="nickname"
          placeholder="jdoe"
          value="{{ .Entry.Nickname }}"
        />
        <br />

        <label for="email">📧 Email</label>
        <br />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="jean@doe.com"
          value="{{ .Entry.Email }}"
        />
        <br />

        <label for="pronouns">⚧️ Pronouns</label>
        <br />
        <input
          type="text"
          name="pronouns"
          id="pronouns"
          placeholder="they/them"
          required
          value="{{ .Entry.Pronouns }}"
        />
        <br />

        <label for="birthday">✨ Birthday (optional)</label>
        <br />
        <input type="date" name="birthday" id="birthday" {{ if
        .Entry.Birthday.Valid }}value="{{ .Entry.Birthday.Value.Format
        "2006-01-02" }}"{{ end }} />
        <br />

        <label for="address">📍 Address (optional)</label>
        <br />
        <textarea name="address" id="address" rows="3">
{{ .Entry.Address }}</textarea
        >
        <br />

        <label for="notes">📜 Notes (optional)</label>
        <br />
        <textarea name="notes" id="notes" rows="10">
{{ .Entry.Notes }}</textarea
        >
        <br />
      </form>

      <div>
        <input type="submit" value="💾 Save changes" form="update" />

        <a href="/contacts/view?id={{ .Entry.ID }}">🔙 Cancel</a>
      </div>
    </main>

    {{ template "footer.html" . }}
  </body>
</html>
