<!DOCTYPE html>
<html lang="en">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <h2><span aria-hidden="true">🤝</span> Add a Contact</h2>
    </header>

    <main>
      <form action="/contacts/create" method="post">
        <div>
          <label for="first_name">
            <span aria-hidden="true">🧑</span> First Name
          </label>
          <br />
          <input
            type="text"
            name="first_name"
            id="first_name"
            placeholder="Jean"
            required
            autofocus
          />
        </div>
        <br />

        <div>
          <label for="last_name">
            <span aria-hidden="true">👪</span> Last Name
          </label>
          <br />
          <input
            type="text"
            name="last_name"
            id="last_name"
            placeholder="Doe"
            required
          />
        </div>
        <br />

        <div>
          <label for="nickname">
            <span aria-hidden="true">📟</span> Nickname (optional)
          </label>
          <br />
          <input type="text" name="nickname" id="nickname" placeholder="jdoe" />
        </div>
        <br />

        <div>
          <label for="email"> <span aria-hidden="true">📧</span> Email </label>
          <br />
          <input
            type="email"
            name="email"
            id="email"
            placeholder="jean@doe.com"
          />
        </div>
        <br />

        <div>
          <label for="pronouns">
            <span aria-hidden="true">⚧️</span> Pronouns
          </label>
          <br />
          <input
            type="text"
            name="pronouns"
            id="pronouns"
            placeholder="they/them"
            required
          />
        </div>
        <br />

        <div>
          <button type="submit">
            <span aria-hidden="true">➕</span> Add Contact
          </button>
        </div>
      </form>
    </main>

    {{ template "footer.html" . }}
  </body>
</html>
