<!DOCTYPE html>
<html lang="{{ .Locale.GetLanguage }}">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <h2>Edit "{{ .Entry.Title }}"</h2>
    </header>

    <main>
      <form id="update" action="/journal/update" method="post">
        <input type="hidden" name="id" id="id" value="{{ .Entry.ID }}" />

        <fieldset>
          <legend>How as your day?</legend>

          <input
            type="radio"
            id="great"
            name="rating"
            value="3"
            {{-
            if
            eq
            .Entry.Rating
            3
            -}}checked{{-
            end
            -}}
          />
          <label for="great">Great</label>

          <input
            type="radio"
            id="ok"
            name="rating"
            value="2"
            {{-
            if
            eq
            .Entry.Rating
            2
            -}}checked{{-
            end
            -}}
          />
          <label for="ok">OK</label>

          <input
            type="radio"
            id="bad"
            name="rating"
            value="1"
            {{-
            if
            eq
            .Entry.Rating
            1
            -}}checked{{-
            end
            -}}
          />
          <label for="bad">Bad</label>
        </fieldset>

        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          id="title"
          value="{{ .Entry.Title }}"
          required
          autofocus
        />
        <br />

        <label for="body"
          >Body (you can use
          <a href="https://en.wikipedia.org/wiki/Markdown" target="_blank"
            >Markdown</a
          >)</label
        >
        <textarea name="body" id="body" required rows="20">
{{ .Entry.Body }}</textarea
        >
        <br />
      </form>

      <div>
        <input type="submit" value="Save changes" form="update" />

        <a href="/journal/view?id={{ .Entry.ID }}">Cancel</a>
      </div>
    </main>

    {{ template "footer.html" . }}
  </body>
</html>
