<header>
  <div>
    <h1>
      <a href="/">
        <img src="/static/logo-light.png" alt="Donna logo (light)" />
        <img src="/static/logo-dark.png" alt="Donna logo (dark)" />
      </a>
    </h1>
  </div>

  <nav>
    <a href="/contacts"> <span aria-hidden="true">👥</span> Contacts </a>
    <a href="/journal"> <span aria-hidden="true">📓</span> Journal </a>

    {{ if ne .LogoutURL "" }}
    <a
      href="{{ .LogoutURL }}"
      onclick="return confirm('Are you sure you want to log out?')"
    >
      <span aria-hidden="true">🏞️</span> Logout
    </a>
    {{ end }}
  </nav>
</header>
