<header>
  <div>
    <h1>
      <a href="/">
        <picture>
          <source
            srcset="/static/logo-dark.png"
            media="(prefers-color-scheme: dark)"
          />
          <img src="/static/logo-light.png" alt="Senbara Forms logo" />
        </picture>
      </a>
    </h1>
  </div>

  <nav>
    <a href="/contacts">Contacts</a>
    <a href="/journal">Journal</a>

    {{ if ne .LogoutURL "" }}
    <a
      href="{{ .LogoutURL }}"
      onclick="return confirm('Are you sure you want to log out?')"
      >Logout</a
    >
    {{ end }}
  </nav>
</header>
