<header>
  <div>
    <h1>
      <a href="/">
        <picture>
          <source
            srcset="/static/logo-dark.png"
            media="(prefers-color-scheme: dark)"
          />
          <img src="/static/logo-light.png" alt="Senbara Forms logo" />
        </picture>
      </a>
    </h1>

    {{ if ne .BackURL "" }}
    <a href="{{ .BackURL }}">Go back</a>
    {{ end }}
  </div>

  <nav>
    <a href="/contacts">Contacts</a>
    <a href="/journal">Journal</a>

    {{ if ne .LogoutURL "" }}
    <details>
      <summary>Account</summary>

      <nav>
        <a href="/userdata">Export your data</a>

        <form
          action="/userdata/delete"
          method="post"
          onclick="return confirm('Are you sure you want to delete your data and your account?')"
        >
          <input type="submit" value="Delete your data" />
        </form>

        <a
          href="{{ .LogoutURL }}"
          onclick="return confirm('Are you sure you want to log out?')"
          >Logout</a
        >
      </nav>
    </details>
    {{ end }}
  </nav>
</header>
