<!DOCTYPE html>
<html lang="en">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <h2>Edit a Journal Entry</h2>
    </header>

    <main>
      <form id="update" action="/journal/update">
        <input type="hidden" name="id" id="id" value="{{ .Entry.ID }}" />

        <label for="title">Title</label>
        <br />
        <input
          type="text"
          name="title"
          id="title"
          value="{{ .Entry.Title }}"
          required
        />
        <br />

        <label for="body">Body</label>
        <br />
        <textarea name="body" id="body" required rows="20">
{{ .Entry.Body }}</textarea
        >
        <br />
      </form>

      <div>
        <input type="submit" value="Save changes" form="update" />

        <a href="/journal">Cancel</a>
      </div>
    </main>

    {{ template "footer.html" . }}
  </body>
</html>
