<!DOCTYPE html>
<html lang="en">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <h2>Add a Journal Entry</h2>
    </header>

    <main>
      <form action="/journal/create">
        <label for="title">Title</label>
        <br />
        <input type="text" name="title" id="title" required autofocus />
        <br />

        <label for="body">Body</label>
        <br />
        <textarea name="body" id="body" required rows="20"></textarea>
        <br />

        <input type="submit" value="Add entry" />
      </form>
    </main>

    {{ template "footer.html" . }}
  </body>
</html>
