<!DOCTYPE html>
<html lang="en">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <h2>Journal</h2>

      <a href="/journal/add">➕ Add a journal entry</a>
    </header>

    <ul>
      {{ range .Entries }}
      <li>
        <h3>
          <a href="/journal/view?id={{ .ID }}"
            >{{ .Date.Format "2006-01-02 15:04" }}: {{ .Title }}</a
          >
        </h3>

        <p>{{ RenderMarkdown (TruncateText .Body 50) }}</p>

        <div>
          <form
            action="/journal/delete?id={{ .ID }}"
            method="post"
            onsubmit="return confirm('Are you sure you want to delete this entry?')"
          >
            <input type="submit" value="🗑️ Delete" />
          </form>

          <a href="/journal/edit?id={{ .ID }}">✏️ Edit</a>
        </div>
      </li>
      {{ else }}
      <li>No journal entries yet.</li>
      {{ end }}
    </ul>

    {{ template "footer.html" . }}
  </body>
</html>
